
// Includes
@import 'global'


header
  .profile
    img
      width: 100%
  .meta
    margin-top: 50px

.likes
  li
    margin-bottom: -20px
    position: relative
    opacity: 0.6

    &:hover
      opacity: 1
      .info
        opacity: 1
  img
    width: 100%
  h2
    font-weight: 700
    font-size: 0.9em

  .panel
    height: 190px
    padding: 0
  .artist
    position: absolute
    top: -26px
    left: 0
    font-size: 1em
  .info
    position: absolute
    top: 70px
    width: 100%
    background: rgba(255,255,255,0.8)
    padding: 5px
    opacity: 0


// Additional Global Styles
.toggle
  transition: linear 0.3s all

  &.ng-enter
    opacity: 0
  &.ng-enter-stagger
    transition-delay: 0.05s
    transition-duration: 0s

  &.ng-enter-active

  &.ng-leave

  &.ng-leave-active
    opacity:0
