
// Includes
@import 'global'


header
  .profile
    img
      width: 100%
  .meta
    margin-top: 50px


.likes
  li
    margin-bottom: -20px
    position: relative
  img
    width: 100%

  h2
    font-weight: 400
    text-align: center
    font-size: 1em

  .panel
    height: 190px
    padding: 0

  .info
    width: 100%
    height: 100%
    background: rgba(255,255,255,0.5)
    padding: 20px
    position: absolute
    top: 0
    left: 0





// Additional Global Styles
.toggle
  transition: linear 0.3s all

  &.ng-enter
    opacity: 0
  &.ng-enter-stagger
    transition-delay: 0.05s
    transition-duration: 0s

  &.ng-enter-active

  &.ng-leave

  &.ng-leave-active
    opacity:0
