
header.row
  .profile.large-2.columns
    a(ng-href='{{user.permalink_url}}', target='_blank')
      img(ng-src='{{user.avatar_url}}')
  .meta.large-10.columns
    label
      | Followers:
      | <strong>{{user.followers_count}}</strong>
    label
      | Following:
      | <strong>{{user.followings_count}}</strong>

.row
  ul.likes.large-block-grid-5
    li(ng-repeat='like in likes')
      .panel
        img(ng-src='{{like.artwork_url}}')
        h2 {{like.title}}


